{
    "plugins": [
        "transform-object-rest-spread",
        ["transform-runtime"]
    ],
    "presets": ["flow"],
    "env": {
        "test": {
            "presets": [
                ["env", {
                    "targets": {
                        "node": "current"
                    }
                }]
            ],
            "plugins": ["istanbul"]
        }
    }
}
